<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_79f1be0bcfee49d2a13bbf7ef68082c6 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_79f1be0bcfee49d2a13bbf7ef68082c6" ></div>
        
</body>
<script>    
    
            var map_79f1be0bcfee49d2a13bbf7ef68082c6 = L.map(
                "map_79f1be0bcfee49d2a13bbf7ef68082c6",
                {
                    center: [40.441, -79.99],
                    crs: L.CRS.EPSG3857,
                    zoom: 10,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_703deeec4d3c48f589ceecdb117967f8 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_79f1be0bcfee49d2a13bbf7ef68082c6);
        
    
            var feature_group_6f24929ab2f84a07b8ef2501cfed9571 = L.featureGroup(
                {}
            ).addTo(map_79f1be0bcfee49d2a13bbf7ef68082c6);
        
    
            var poly_line_eaecc072d77d4a78aae8e17c6a725486 = L.polyline(
                [[40.44389599999851, -79.99207399999935], [40.445571, -79.989827], [40.445897, -79.989355], [40.446158000001006, -79.98866299999915]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(feature_group_6f24929ab2f84a07b8ef2501cfed9571);
        
    
        var popup_6b60223cd4434c7f909fa80629e73621 = L.popup({"maxWidth": "100%"});

        
            var html_7eedd87d43be4106abc51496ecd4c7d3 = $(`<div id="html_7eedd87d43be4106abc51496ecd4c7d3" style="width: 100.0%; height: 100.0%;">11</div>`)[0];
            popup_6b60223cd4434c7f909fa80629e73621.setContent(html_7eedd87d43be4106abc51496ecd4c7d3);
        

        poly_line_eaecc072d77d4a78aae8e17c6a725486.bindPopup(popup_6b60223cd4434c7f909fa80629e73621)
        ;

        
    
    
            var feature_group_2d737ddf1f864662a92697a61204512c = L.featureGroup(
                {}
            ).addTo(map_79f1be0bcfee49d2a13bbf7ef68082c6);
        
    
            var marker_9757f01f9f5944af84204c6866f9814a = L.marker(
                [40.44389599999851, -79.99207399999935],
                {}
            ).addTo(feature_group_2d737ddf1f864662a92697a61204512c);
        
    
        var popup_d69bb2f02f7b4b0282056a6a08ba925f = L.popup({"maxWidth": "100%"});

        
            var html_eaf9e2a917e74ebf98e13883d5a93987 = $(`<div id="html_eaf9e2a917e74ebf98e13883d5a93987" style="width: 100.0%; height: 100.0%;"> EAST BUSWAY + PENN STATION A</div>`)[0];
            popup_d69bb2f02f7b4b0282056a6a08ba925f.setContent(html_eaf9e2a917e74ebf98e13883d5a93987);
        

        marker_9757f01f9f5944af84204c6866f9814a.bindPopup(popup_d69bb2f02f7b4b0282056a6a08ba925f)
        ;

        
    
    
            map_79f1be0bcfee49d2a13bbf7ef68082c6.fitBounds(
                [[40.44389599999851, -79.99207399999935], [40.446158000001006, -79.98866299999915]],
                {}
            );
        
</script>