h1 {
    font-size: 5em;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -250px;
    width: 500px;
    height: 500px;
}
body {
    background-image: url('Complete.png');
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}