.route_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: flex-start;
    margin-bottom: 60px;
}

.title {
    width: 100%;
    text-align: center;
    margin: 10px 0px;
}

.cont {
    color: black;
    border-style: none;
    text-align: center;
    width: 25%;
    height: 60px;
    margin: 25px 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}
.cont:hover {
    background-color: blanchedalmond;
    cursor: pointer;
    color:coral;
}

